.column {
    float: left;
    height: 100px;
    width: 100%;
    background-color: black;
    margin: 10px 0;
}


/* styles for devices that are wider than or equal to 992px */
@media (min-width: 992px) {
    .column {
        margin: 10px;
        width: 30%;
        background-color: red;
}